<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试管理系统</title>
    <meta name="description" content="测试管理系统">
    <meta name="keywords" content="测试管理系统">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .el-row {
            margin-bottom: 20px;

            /*&*/
            /*:last-child {*/
            /*    margin-bottom: 0;*/
            /*}*/

        }
        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }

        img.a {
            width: 260px;
            height: 400px;
            object-fit: contain;
        }
    </style>

</head>
<body class="hold-transition">
<div id="app" style="height: 700px">
    <div class="content-header">
        <h1>GUI测试<small>脚本编辑</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>GUI测试</el-breadcrumb-item>
            <el-breadcrumb-item>脚本编辑</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-select v-model="scriptsPathSelectedIndex" @change="getScripts" filterable placeholder="请选择脚本目录"
                           style="width: 25%">
                    <el-option
                            v-for="item in scriptsDirs"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>


                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                <el-button type="primary" @click="handleEdit()" :disabled="!isSelected" style="display: inline">编辑
                </el-button>
                <el-button type="primary" @click="handleSave()" :disabled="!isSelected" style="display: inline">保存
                </el-button>
                <el-button type="primary" @click="handleCapture()" :disabled="!isSelected || !isEditing"
                           style="display: inline">截图
                </el-button>
                <el-button type="primary" @click="handlePreview()" :disabled="!isSelected" style="display: inline">预览
                </el-button>
            </div>
            <div>
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content bg-purple">
                            <el-table
                                    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                                    height="693px"
                                    style="width: 100%">
                                <el-table-column
                                        label="脚本名称"
                                        prop="name">
                                </el-table-column>
                                <el-table-column
                                        align="right">
                                    <template slot="header" slot-scope="scope">
                                        <el-input
                                                v-model="search"
                                                size="mini"
                                                placeholder="输入关键字搜索"/>
                                    </template>
                                    <template slot-scope="scope">
                                        <el-button
                                                size="mini"
                                                @click="handleView(scope.row)">查看
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-col>
                    <el-col :span="14">
                        <div class="grid-content">
                            <iframe name="code" id="iframe" src="/codePage" width="100%" height="689px"
                                    frameborder="1"></iframe>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        <img class="a" :src="url" alt="Picture" width="400" height="300">
                        <!--                        <el-image v-for="url in urls" :key="url" :src="url" lazy></el-image>-->
                    </el-col>
                </el-row>
            </div>

            <div class="add-form">
                <el-dialog title="保存" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col>
                                <el-form-item label="脚本名称" prop="name">
                                    <el-input v-model="editingName" style="width: 680px"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col>
                                <el-form-item label="保存路径" prop="path">
<!--                                    <el-input v-model="scriptsPath"/>-->
                                    <el-select v-model="scriptsPathSelectedIndex" filterable placeholder="请选择脚本目录" style="width: 680px">
                                        <el-option
                                                v-for="item in scriptsDirs"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleOKButton()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>

<script>
    let vue = new Vue({
        el: '#app',
        components: {},
        props: {},
        data() {
            return {
                scriptsPath: "",
                scriptsPathSelectedIndex: 0,
                data: [],
                scriptsDirs: [],
                value: '',
                tableData: [],
                search: '',
                code: '',
                editingName: '',
                isSelected: false,
                isEditing: false,
                isNew: false,
                formData: {},
                dialogFormVisible: false, //表单是否可见
                rules: {//校验规则
                    name: [{required: true, message: '必填项', trigger: 'blur'}],
                    path: [{required: true, message: '必填项', trigger: 'blur'}],
                },
                url: 'http://localhost:6630/img/default.png',
                recent: 0
            };
        },
        watch: {},
        computed: {},
        methods: {
            getScripts() {
                this.tableData = [];
                this.selected = []; // 重新输入脚本目录后，都要清空
                this.scriptsPath = this.scriptsDirs[this.scriptsPathSelectedIndex].label;
                this.recent = this.scriptsPathSelectedIndex;
                let that = this;
                axios.post("/setScriptsPath", {
                    scriptsPath: this.scriptsPath,
                    recent: this.recent
                }).then((res) => {
                    let scripts_arr = res.data.data;
                    for (let i = 0; i < scripts_arr.length; i++) {
                        that.tableData.push({
                            name: scripts_arr[i],
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            handleView(row) {
                this.code = '';
                this.editingName = row.name;
                this.isSelected = true;
                this.isEditing = false;
                let iframe = document.getElementById('iframe').contentWindow;
                axios.post("/editor/editScript", {
                    scriptsPath: this.scriptsPath,
                    name: row.name
                }).then((res) => {
                    // console.log(res.data.data);
                    localStorage.setItem("original", res.data.data);
                    iframe.postMessage("[view]" + res.data.data, '*');
                    // iframe.location.reload();
                })
            },
            handleEdit() {
                this.isEditing = true;
                let iframe = document.getElementById('iframe').contentWindow;
                iframe.postMessage("[edit]" + localStorage.getItem("original"), '*');
            },
            handleSave() {
                if (this.isNew) {
                    this.showDialog();
                    axios.post("/editor/saveScriptToTemp", {
                        editorContent: localStorage.getItem("content")
                    }).then((res) => {
                        console.log(res.data.data);
                    })
                } else {
                    axios.post("/editor/saveScript", {
                        scriptsPath: this.scriptsPath,
                        scriptName: this.editingName,
                        editorContent: localStorage.getItem("content")
                    }).then((res) => {
                        console.log(res.data.data);
                    })
                }
            },
            showDialog() {
                this.dialogFormVisible = true;
            },

            // 对话框的确定按钮
            handleOKButton() {
                // 设置为当前选中的条目，不然默认的是在C盘的temp里
                this.scriptsPath = this.scriptsDirs[this.scriptsPathSelectedIndex].label;
                // console.log("scriptPath before ok button sent post:" + this.scriptsPath);
                // 请求创建该脚本的文件夹，并复制过去
                axios.post("/editor/createScript", {
                    scriptsPath: this.scriptsPath,
                    scriptName: this.editingName,
                }).then((res) => {
                    // console.log(res.data.data);
                    if (res.data.code != 200){
                        window.alert(res.data.message);
                        return;
                    }else{
                        this.dialogFormVisible = false;
                        this.isNew = false;
                        // 更新一下当前的脚本列表，该目录可能已经新增脚本了
                        this.getScripts();
                    }
                });
            },
            // 截图按钮
            handleCapture() {
                let iframe = document.getElementById('iframe').contentWindow;
                axios.post("/editor/capture", {
                    scriptsPath: this.scriptsPath,
                    scriptName: this.editingName
                }).then((res) => {
                    if (res.data.code == 200){
                        // 拿到图片名，传给code，再插入光标处
                        let picName = res.data.data;
                        iframe.postMessage("[picName]" + picName, '*');
                    }else{
                        window.alert("截图失败，请重试。");
                    }
                });
            },

            // 预览按钮
            handlePreview() {
                axios.post("/editor/previewPic", {
                    selectedText: localStorage.getItem("selectedText")
                }).then((res) => {
                    if (res.data.code == 200) {
                        this.url = res.data.data;
                    }else{
                        this.url = 'http://localhost:6630/img/default.png';
                    }
                });
            },
            // 新建按钮
            handleCreate(){
                this.isNew = true;
                this.isSelected = true;
                this.isEditing = true;
                this.scriptsPath = 'C:\\script_temp';
                this.editingName = 'temp';
                let iframe = document.getElementById('iframe').contentWindow;
                iframe.postMessage("[create]", '*');
                // 请求清空temp目录
                axios.post("/editor/newScript").then((res) => {
                    if (res.data.code == 200) {

                    }else{
                        window.alert(res.data.message);
                    }
                });
            },
        },
        created() {
        }
        ,
        mounted() {
            axios.get("/getScriptsDirs").then((res) => {
                // console.log(res.data)
                if (res.data.success) {
                    this.recent = res.data.data[0];
                    this.scriptsPathSelectedIndex = this.recent;
                    this.scriptsDirs = res.data.data[1];
                }
                // 默认加载recent对应的目录
                this.scriptsPath = this.scriptsDirs[this.recent].label;
                this.tableData = [];
                this.selected = []; // 重新输入脚本目录后，都要清空
                let that = this;
                axios.post("/setScriptsPath", {
                    scriptsPath: this.scriptsPath,
                    recent: this.recent
                }).then((res) => {
                    let scripts_arr = res.data.data;
                    for (let i = 0; i < scripts_arr.length; i++) {
                        that.tableData.push({
                            name: scripts_arr[i],
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
            }).catch((error) => {
                console.log(error);
            });


            window.addEventListener('message', function (event) {
                if (event.data.startsWith('[selectedText]')) {
                    localStorage.setItem("selectedText", event.data.replace('[selectedText]', ''));
                } else {
                    localStorage.setItem("content", event.data);
                }
            })
        },
    });
</script>
</html>