<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>测试管理系统</title>
    <meta name="description" content="测试管理系统">
    <meta name="keywords" content="测试管理系统">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/element-ui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <style>
        .el-row {
            margin-bottom: 20px;

            /*&*/
            /*:last-child {*/
            /*    margin-bottom: 0;*/
            /*}*/

        }

        .el-col {
            border-radius: 4px;
        }

        .bg-purple-dark {
            background: #99a9bf;
        }

        .bg-purple {
            background: #d3dce6;
        }

        .bg-purple-light {
            background: #e5e9f2;
        }

        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }

        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }


        .el-scrollbar__wrap {
            overflow-x: hidden;
            margin-bottom: 0 !important; /*解决下拉框最后一个option显示不完整的问题*/
        }


    </style>

</head>
<body class="hold-transition">
<div id="app" style="height: 700px">
    <div class="content-header">
        <h1>GUI测试<small>脚本编辑</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>GUI测试</el-breadcrumb-item>
            <el-breadcrumb-item>脚本编辑</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-row :gutter="20">
                    <el-col :span="6">
                        <div class="grid-content">
                            <el-select v-model="scriptsPathSelectedIndex" @focus="clickSelector()" @change="getScripts"
                                       filterable
                                       placeholder="请选择脚本目录" style="width: 100%">
                                <el-option
                                        v-for="item in scriptsDirs"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <div class="grid-content">
                            <el-button class="butT" @click="handleCreate()">新建</el-button>
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <div class="grid-content">
                            <el-button @click="handleEdit()" :disabled="!isSelected">编辑</el-button>
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <div class="grid-content">
                            <el-button @click="handleSave()" :disabled="!isSelected" style="display: inline">保存
                            </el-button>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        <div class="grid-content">
                            <el-input class="input-with-button" placeholder="请输入图片名" v-model="userSetPicName"
                                      maxlength="20">
                                <el-button slot="append" @click="handleCapture()" :disabled="!isSelected || !isEditing">
                                    截图
                                </el-button>
                            </el-input>
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <div class="grid-content">
                            <el-button @click="handlePreview()" :disabled="!isSelected" style="display: inline">预览
                            </el-button>
                        </div>
                    </el-col>
                    <el-col :span="6"></el-col>
                    <el-col :span="4">
                        <div class="grid-content">
                            <el-button @click="handleRun()" :disabled="!isSelected" style="display: inline"
                                       icon="el-icon-video-play">运行
                            </el-button>
                            <el-button @click="allInfoDrawer = true" :disabled="!isSelected || !isRunFinished"
                                       style="display: inline">查看运行日志
                            </el-button>
                        </div>
                    </el-col>
                </el-row>

            </div>
            <div>
                <el-row :gutter="20" style="margin-bottom: 0px">
                    <el-col :span="6">
                        <div class="grid-content bg-purple">
                            <el-table
                                    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                                    ref="singleTable"
                                    highlight-current-row
                                    height="693px"
                                    style="width: 100%">
                                <el-table-column
                                        label="脚本名称"
                                        prop="name">
                                </el-table-column>
                                <el-table-column
                                        align="right">
                                    <template slot="header" slot-scope="scope">
                                        <el-input
                                                v-model="search"
                                                size="mini"
                                                placeholder="输入关键字搜索"/>
                                    </template>
                                    <template slot-scope="scope">
                                        <el-button
                                                size="mini"
                                                @click="handleView(scope.row)">查看
                                        </el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                    </el-col>
                    <el-col :span="14">
                        <div class="grid-content">
                            <iframe name="code" id="iframe" src="/codePage" width="100%" height="689px"
                                    frameborder="1"></iframe>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        <el-scrollbar ref="el_scrollbar" style="height: 692px">
                            <el-popover
                                    v-for="item in urls"
                                    :title="item.picName"
                                    width="200"
                                    trigger="hover"
                                    content="点击图片即可复制图片名。"
                                    open-delay="200"
                                    close-delay="0">
                                <el-image
                                        slot="reference"
                                        :key="item.url"
                                        :src="item.url"
                                        fit="contain"
                                        @click="copyPicName(item.picName)"
                                        style="border: thin dotted #FF0000; margin: 2px">
                                </el-image> <!-- style="width: 100px; height: 100px; display: block" -->
                            </el-popover>
                        </el-scrollbar>
                    </el-col>
                </el-row>
            </div>

            <div class="add-form">
                <el-dialog title="保存" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col>
                                <el-form-item label="脚本名称" prop="name">
                                    <el-input v-model="editingName" style="width: 680px"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col>
                                <el-form-item label="保存路径" prop="path">
                                    <!--                                    <el-input v-model="scriptsPath"/>-->
                                    <el-select
                                            v-model="scriptsPathSelectedIndex"
                                            filterable
                                            placeholder="请选择脚本目录"
                                            style="width: 680px">
                                        <el-option
                                                v-for="item in scriptsDirs"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleOKButton()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>

        <el-drawer
                :title="picName"
                :visible.sync="picDrawer">
            <el-image :src="url" alt="Picture" fit="contain">
                <div slot="error" class="image-slot">
                    <i class="el-icon-picture-outline"></i>
                </div>
            </el-image>
        </el-drawer>

        <el-drawer
                :title="editingName"
                :visible.sync="allInfoDrawer">
            <el-input
                    type="textarea"
                    autosize
                    placeholder="日志展示区"
                    :show-word-limit="true"
                    :readonly="true"
                    v-model="allInfo"
                    style="font-family: Helvetica Neue">
            </el-input>
        </el-drawer>

        <el-dialog
                title="提示"
                :visible.sync="askBeforeViewOthersDialogVisible"
                width="30%">
            <span>当前脚本编辑的内容尚未保存，是否保存？</span>
            <span slot="footer" class="dialog-footer">
    <el-button @click="handleCancelButtonInDialog()">不保存</el-button>
    <el-button type="primary" @click="handleOKButtonInDialog()">保 存</el-button>
  </span>
        </el-dialog>

    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.min.js"></script>
<script src="../plugins/element-ui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>

<script>
    let vue = new Vue({
        el: '#app',
        components: {},
        props: {},
        data() {
            return {
                scriptsPath: "",
                scriptsPathSelectedIndex: 0,
                data: [],
                scriptsDirs: [],
                value: '',
                tableData: [],
                search: '',
                code: '',
                editingName: '',
                isSelected: false,
                isEditing: false,
                isNew: false,
                formData: {},
                dialogFormVisible: false, //表单是否可见
                rules: {//校验规则
                    name: [{required: true, message: '必填项', trigger: 'blur'}],
                    path: [{required: true, message: '必填项', trigger: 'blur'}],
                },
                // url: 'http://localhost:6630/img/default.png',
                url: '',
                picName: '',
                urls: [],
                recent: 0,
                userSetPicName: '',
                picDrawer: false,
                allInfoDrawer: false,
                allInfo: '',
                isRunFinished: false,
                askBeforeViewOthersDialogVisible: false,
                currentRow: {},
            };
        },
        watch: {},
        computed: {},
        methods: {
            clickSelector() {
                if (this.checkIfChanged()) {
                    this.$message({
                        message: '当前编辑内容尚未保存，请先保存再切换目录！',
                        type: 'error',
                        center: true
                    });
                }
            },

            getScripts() {
                this.tableData = [];
                this.selected = []; // 重新输入脚本目录后，都要清空
                this.scriptsPath = this.scriptsDirs[this.scriptsPathSelectedIndex].label;
                this.recent = this.scriptsPathSelectedIndex;

                let that = this;
                axios.post("/setScriptsPath", {
                    scriptsPath: this.scriptsPath,
                    recent: this.recent
                }).then((res) => {
                    let scripts_arr = res.data.data;
                    for (let i = 0; i < scripts_arr.length; i++) {
                        that.tableData.push({
                            name: scripts_arr[i],
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            // 查看按钮
            handleView(row) {
                this.currentRow = row;  // 保存起来给handleCancelButtonInDialog()和handleOKButtonInDialog()使用
                if (this.checkIfChanged()) {
                    this.askBeforeViewOthersDialogVisible = true;
                    return;
                } else {
                    this.handleViewHelper(row);
                }
            },
            // 辅助函数，直接切换其他脚本，不保存当前变化
            handleViewHelper(row) {
                this.urls = [];
                this.$refs.singleTable.setCurrentRow(row);  // 高亮选中的行
                this.code = '';
                this.editingName = row.name;
                this.isSelected = true;
                this.isEditing = false;
                this.isRunFinished = false;
                let iframe = document.getElementById('iframe').contentWindow;
                // 在新建态下，点击查看按钮，应该恢复scriptsPath和isNew状态
                this.scriptsPath = this.scriptsDirs[this.scriptsPathSelectedIndex].label;
                this.isNew = false;
                axios.post("/editor/viewScript", {
                    scriptsPath: this.scriptsPath,
                    name: row.name
                }).then((res) => {
                    // console.log(res.data.data);
                    localStorage.setItem("contentInDisk", res.data.data[0]);
                    localStorage.setItem("contentInEditor", res.data.data[0]);
                    iframe.postMessage("[view]" + res.data.data[0], '*');
                    for (let i = 0; i < res.data.data[1].length; i++) {
                        this.urls.push({
                            url: res.data.data[1][i],
                            picName: res.data.data[1][i].replace("http://localhost:6630/images/", "")
                        });
                    }
                })
            },

            // 对话框询问是否保存当前脚本内容
            handleCancelButtonInDialog() {
                this.askBeforeViewOthersDialogVisible = false;
                this.handleViewHelper(this.currentRow);
            },
            handleOKButtonInDialog() {
                this.askBeforeViewOthersDialogVisible = false;
                this.handleSave();
                this.handleViewHelper(this.currentRow);
            },

            handleEdit() {
                this.isEditing = true;
                let iframe = document.getElementById('iframe').contentWindow;
                iframe.postMessage("[edit]" + localStorage.getItem("contentInDisk"), '*');
            },

            // 保存按钮
            handleSave() {
                if (this.isNew) {   // 新建脚本的保存
                    axios.post("/editor/saveScriptToTemp", {
                        editorContent: localStorage.getItem("contentInEditor")
                    }).then((res) => {
                        // console.log(res.data.data);
                        if (res.data.code == 200) {
                            // 此时已成功保存至script_temp\temp目录下，弹出对话框让用户选择自定义保存位置
                            localStorage.setItem("contentInDisk", localStorage.getItem("contentInEditor"));
                            this.showDialog();
                        } else {
                            this.$notify.error({
                                title: '保存出错',
                                message: res.data.message,
                                duration: 0
                            });
                        }
                    })
                } else {    // 正常保存
                    axios.post("/editor/saveScript", {
                        scriptsPath: this.scriptsPath,
                        scriptName: this.editingName,
                        editorContent: localStorage.getItem("contentInEditor")
                    }).then((res) => {
                        // console.log(res.data.data);
                        if (res.data.code == 200) {
                            localStorage.setItem("contentInDisk", localStorage.getItem("contentInEditor"));
                            this.$notify.success({
                                title: '保存成功',
                                message: '脚本已保存至' + this.scriptsPath,
                            });
                            let deletedPicNames = res.data.data;
                            if (deletedPicNames.length > 0)
                                console.log(deletedPicNames);
                            console.log(this.urls);
                            // 更新urls，保证右侧图片显示同步
                            for (let i = 0; i < deletedPicNames.length; i++) {
                                for (let j = 0; j < this.urls.length; j++) {
                                    console.log(deletedPicNames[i]);
                                    console.log(this.urls[j].picName);
                                    if (deletedPicNames[i] === this.urls[j].picName) {
                                        this.urls.splice(j, 1);
                                    }
                                }
                            }
                            console.log(this.urls);
                            this.$notify.info({
                                title: '已删除未使用的图片',
                                message: deletedPicNames,
                                offset: 100,
                            });

                        } else {
                            this.$notify.error({
                                title: '保存出错',
                                message: res.data.message,
                                duration: 0
                            });
                        }
                    })
                }
            },
            showDialog() {
                this.dialogFormVisible = true;
            },

            // 对话框的确定按钮
            handleOKButton() {
                // 设置为当前选中的条目，不然默认的是在C盘的temp里
                this.scriptsPath = this.scriptsDirs[this.scriptsPathSelectedIndex].label;
                // console.log("scriptPath before ok button sent post:" + this.scriptsPath);
                // 请求创建该脚本的文件夹，并复制过去
                axios.post("/editor/createScript", {
                    scriptsPath: this.scriptsPath,
                    scriptName: this.editingName,
                }).then((res) => {
                    // console.log(res.data.data);
                    if (res.data.code != 200) {
                        this.$notify.error({
                            title: '保存出错',
                            message: res.data.message,
                        });
                        return;
                    } else {
                        this.dialogFormVisible = false;
                        this.isNew = false;
                        localStorage.setItem("contentInDisk", localStorage.getItem("contentInEditor"));
                        this.$notify.success({
                            title: '保存成功',
                            message: '脚本已保存至' + this.scriptsPath,
                        });
                        // 更新一下当前的脚本列表，该目录可能已经新增脚本了
                        this.getScripts();
                    }
                });
            },
            // 截图按钮
            handleCapture() {
                let iframe = document.getElementById('iframe').contentWindow;
                axios.post("/editor/capture", {
                    scriptsPath: this.scriptsPath,
                    scriptName: this.editingName,
                    userSetPicName: this.userSetPicName
                }).then((res) => {
                    if (res.data.code == 200) {
                        // 拿到图片名，传给code，再插入光标处
                        let picName = res.data.data;
                        iframe.postMessage("[picName]" + picName, '*');
                        // 清空图片名的输入框
                        this.userSetPicName = '';
                        // 将新截的图的url放入urls
                        this.urls.push({picName: picName, url: 'http://localhost:6630/images/' + picName});
                        this.$notify.success({
                            title: '截图成功',
                            message: picName
                        });
                    } else {
                        this.$notify.error({
                            title: '截图失败,请重试！',
                            message: res.data.message,
                            duration: 0
                        });
                    }
                });
            },

            // 预览按钮
            handlePreview() {
                axios.post("/editor/previewPic", {
                    selectedText: localStorage.getItem("selectedText")
                }).then((res) => {
                    if (res.data.code == 200) {
                        this.url = res.data.data;
                        this.picName = this.url.replace('http://localhost:6630/images/', '');
                        this.picDrawer = true;
                    } else {
                        this.url = 'http://localhost:6630/img/default.png';
                        this.$notify.warning({
                            title: '预览出错',
                            message: res.data.message
                        });
                    }
                });
            },
            // 新建按钮
            handleCreate() {
                this.isNew = true;
                this.isSelected = true;
                this.isEditing = true;
                this.isRunFinished = false;
                localStorage.setItem("contentInDisk", "");
                localStorage.setItem("contentInEditor", "");
                this.scriptsPath = 'C:\\script_temp';
                this.editingName = 'temp';
                let iframe = document.getElementById('iframe').contentWindow;
                iframe.postMessage("[create]", '*');
                // 请求清空script_temp/temp.sikuli目录,同时清空pic_temp目录
                axios.post("/editor/newScript").then((res) => {
                    if (res.data.code == 200) {
                        this.urls = []
                    } else {
                        this.$notify.warning({
                            title: '新建脚本出错',
                            message: res.data.message
                        });
                    }
                });
            },
            // 点击图片复制图片名
            copyPicName(url) {
                let picName = url.replace('http://localhost:6630/images/', '');
                let that = this;
                navigator.clipboard.writeText(picName).then(function () {
                    /* clipboard successfully set */
                    that.$notify.success({
                        title: '已复制图片名',
                        message: picName
                    });
                }, function () {
                    /* clipboard write failed */
                    that.$notify.error({
                        title: '复制图片名失败',
                        message: picName
                    });
                });
            },

            handleClose(done) {
                done();
            },

            // 运行按钮
            handleRun() {
                if (this.checkIfChanged()) {
                    this.$message({
                        message: '当前编辑内容尚未保存，请先保存再运行！',
                        type: 'warning',
                        center: true
                    });
                    return;
                }
                axios.post("/editor/runScript", {
                    scriptsPath: this.scriptsPath,
                    scriptName: this.editingName
                }).then((res) => {
                    this.isRunFinished = true;
                    console.log(res.data);
                    if (res.data.success) {
                        this.allInfo = res.data.data.allInfo;
                        this.$notify.success({
                            title: '运行完成',
                            message: '结果：' + res.data.data.pass
                        })
                    } else {
                        this.$notify.error({
                            title: '运行失败',
                            message: res.data.message,
                            duration: 0
                        })
                    }
                })
            },

            // 未保存当前内容的辅助判断函数
            checkIfChanged() {
                let contentInDisk = localStorage.getItem("contentInDisk");
                let contentInEditor = localStorage.getItem("contentInEditor");
                if (contentInDisk === contentInEditor)
                    return false;
                else
                    return true;
            }
        },
        created() {
        }
        ,
        mounted() {
            localStorage.setItem("contentInDisk", "");
            localStorage.setItem("contentInEditor", "");
            axios.get("/getScriptsDirs").then((res) => {
                // console.log(res.data)
                if (res.data.success) {
                    this.recent = res.data.data[0];
                    this.scriptsPathSelectedIndex = this.recent;
                    this.scriptsDirs = res.data.data[1];
                }
                // 默认加载recent对应的目录
                this.scriptsPath = this.scriptsDirs[this.recent].label;
                this.tableData = [];
                this.selected = []; // 重新输入脚本目录后，都要清空
                let that = this;
                axios.post("/setScriptsPath", {
                    scriptsPath: this.scriptsPath,
                    recent: this.recent
                }).then((res) => {
                    let scripts_arr = res.data.data;
                    for (let i = 0; i < scripts_arr.length; i++) {
                        that.tableData.push({
                            name: scripts_arr[i],
                        });
                    }
                }).catch((error) => {
                    console.log(error);
                });
            }).catch((error) => {
                console.log(error);
            });

            // 接收code传过来的当前ace中的内容，并保存至localStorage(chang时传content，blur时传selectedText)
            // let that = this;
            window.addEventListener('message', function (event) {
                if (event.data.startsWith('[selectedText]')) {
                    localStorage.setItem("selectedText", event.data.replace('[selectedText]', ''));
                } else {
                    localStorage.setItem("contentInEditor", event.data);
                    // 使用Ctrl-X 和 Ctrl-V时会永久删除图片无法恢复，舍弃该方案，改为点击保存时做无用图片删除
                    // // content发生改变时，将当前脚本的位置和content发给后端，用于删除无用的图片
                    // axios.post("/editor/deleteUselessPic", {
                    //     content: event.data,
                    //     scriptsPath: that.scriptsPath,
                    //     scriptName: that.editingName,
                    // }).then((res) => {
                    //     if (res.data.success){
                    //         let deletedPicNames = res.data.data;
                    //         for (let i = 0; i < deletedPicNames.length; i++) {
                    //             that.$notify.info({
                    //                 title: '已删除图片',
                    //                 message: deletedPicNames[i]
                    //             });
                    //         }
                    //     }
                    // })
                }
            })
        },
    });
</script>
</html>